<footer class="site-footer">
    <div class="footer-brand">
        <img src="{{ '/assets/images/logo.jpg' | relative_url }}" alt="JRMGraphy Logo">
    </div>
    <div class="footer-contact-info" >
        <a href="mailto:inspecjrm@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
        <a href="tel:+525582559042"><i class="fa fa-phone" aria-hidden="true"></i>Phone</a>
        <a href="https://www.instagram.com/JRM_Graphy" target="_blank"><i class="fab fa-instagram"
                aria-hidden="true"></i>Instagram</a>
    </div>
</footer>